<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.apple.myapplication">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".Fireapp"
        android:allowBackup="true"
        android:icon="@drawable/cdi_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/cdi_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <service android:name="com.example.apple.myapplication.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <!--service-->
            <!--android:name=".MyFcmListenerService">-->
            <!--<intent-filter>-->
                <!--<action android:name="com.google.firebase.MESSAGING_EVENT" />-->
            <!--</intent-filter>-->
        <!--</service>-->
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Authh"
            android:configChanges="keyboardHidden" />
        <activity
            android:name=".PlannerActivity"
            android:label="@string/title_activity_planner"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".OpeningActivity"
            android:label="@string/title_activity_opening" />
        <activity android:name=".InGeneralAcademicActivity" />
        <activity android:name=".ProfileActivity" />
        <activity
            android:name=".CourseInfoActivity"
            android:label="Course Info" />
        <activity android:name=".ProfessorActivity" />
        <activity android:name=".ClubActivity"></activity>


    </application>

</manifest>